.menu{
  max-width: 300px;
  position: fixed;
  height: 100dvh;
  min-width: 0;
  top: 50px;
  z-index: 99;
}
.basket{
  height: 40px;
  width: 100%;
  background: transparent;
  border: none;
  text-align: left;
}