.swiper_product{
  height: 600px;
  width: 90%;
  background: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.mySwiper{
  margin-top: 20px;
}
.title_section{
  padding: 10px;
  font-size: 30px;
}
.swiper_product{
  height: 600px;
  width: 90%;
  background: white;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}