.btn_menu{
  margin-left: 10px;
  border-radius: 20px;
  padding: 0;
  height: 35px;
  width: 35px;
}
.main{
  height: 100%;
  width: 100%;
  background: rgb(227, 227, 227);
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
}