.conteiner_category{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-bottom: 30px;
  background: white;
  border-radius: 20px;
  flex-flow: column;
}
.category_home{
  display: flex;
  list-style-type: none ;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 800px;
  width: 80%;

  li{
    padding: 15px 20px;
    background: black;
    color: white;
    border-radius:  10px 20px;
    border: 2px solid black;
    transition: 0.3s all linear;
  }
  li:hover{
    transition: 0.3s all linear;
    background: transparent;
    color: black;

  }
}
.title_section{
  padding: 10px;
  font-size: 30px;
}